.dot{
  min-height: 35px;
  min-width: 35px;
  max-height: 35px;
  max-width: 35px;
  display: inline-block;
  border-radius: 50%;
}
.dot2{
  min-height: 15px;
  min-width: 15px;
  max-height: 15px;
  max-width: 15px;
  display: inline-block;
  border-radius: 50%;
}
.dot3{
  min-height: 25px;
  min-width: 25px;
  max-height: 25px;
  max-width: 25px;
  display: inline-block;
  border-radius: 50%;
}
.hr{
  color: #fff;
  height: 3px;
}
.details{
  border-top: 2px solid #eee;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
}
.img-zoom-result{
  border: 1px solid #eee;
  /*set the size of the result div:*/
  width: 200px;
  height: 200px;
}
